/node_modules
/public/storage
/public/fileupload
/public/test_images
/storage
/vendor
/.idea
/database/sqls/script.sql
/storage/fileupload
Homestead.json
Homestead.yaml
/composer.lock
/.env
*.swp
*.DS_Store
